[package]

name = "petgraph"
version = "0.6.5"
readme = "README.md"
license = "MIT OR Apache-2.0"
authors = ["bluss", "mitchmindtree"]

description = "Graph data structure library. Provides graph types and graph algorithms."
documentation = "https://docs.rs/petgraph/"
repository = "https://github.com/petgraph/petgraph"

keywords = ["data-structure", "graph", "unionfind", "graph-algorithms"]
categories = ["data-structures"]

rust-version = "1.64"

edition = "2018"

[package.metadata.docs.rs]
features = ["rayon", "serde-1", "quickcheck"]

[package.metadata.release]
no-dev-version = true

[lib]
bench = false

name = "petgraph"

[profile.release]

[profile.bench]
debug = true

[dependencies]
fixedbitset = { version = "0.4.0", default-features = false }
indexmap = "2.0"
quickcheck = { optional = true, version = "0.8", default-features = false }
serde = { version = "1.0", optional = true }
serde_derive = { version = "1.0", optional = true }
rayon = { version = "1.5.3", optional = true }

[dev-dependencies]
bincode = "1.3.3"
defmac = "0.2.1"
itertools = { version = "0.12.1", default-features = false }
odds = { version = "0.4.0" }
rand = "0.5.5"
ahash = "0.7.2"
fxhash = "0.2.1"

[features]
rayon = ["dep:rayon", "indexmap/rayon"]

# feature flags for testing use only
all = [
    "unstable",
    "quickcheck",
    "matrix_graph",
    "stable_graph",
    "graphmap",
    "rayon",
]
default = ["graphmap", "stable_graph", "matrix_graph"]

generate = [] # For unstable features

graphmap = []
matrix_graph = []
serde-1 = ["serde", "serde_derive"]
stable_graph = []
unstable = ["generate"]

[workspace]
members = ["serialization-tests"]
