[package]

name = "petgraph"
version = "0.4.3"
license = "MIT/Apache-2.0"
authors = [
"bluss",
"mitchmindtree",
]

description = "Graph data structure library. Provides graph types and graph algorithms."
documentation = "https://docs.rs/petgraph/"
repository = "https://github.com/bluss/petgraph"

keywords = ["data-structure", "graph", "unionfind", "graph-algorithms"]
categories = ["data-structures"]

[lib]

name = "petgraph"
bench = false

[profile.release]

[profile.bench]
debug = true

[dependencies]
fixedbitset = { version = "0.1.4" }
quickcheck = { optional = true, version = "0.4", default-features = false }
ordermap = { version = "0.2.2", optional = true }

[dev-dependencies]
rand = "0.3"
odds = { version = "0.2.19" }
itertools = { version = "0.5" }
defmac = "0.1"

[features]
default = ["graphmap", "stable_graph"]
graphmap = ["ordermap"]
stable_graph = []

# For unstable features
generate = []
unstable = ["generate"]

# feature flags for testing use only
all = ["unstable", "quickcheck", "stable_graph", "graphmap"]
