# on:
#   push:
#     branches: [ master ]
#   pull_request:
#     branches: [ '*' ]
#   workflow_dispatch: { }

# name: Miri unsoundness checks

# jobs:
#   miri:
#     name: Miri
#     # This job runs on pushes to master or pull_request with the `S-run-thorough-ci-tests` label.
#     if: (${{ github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'S-run-thorough-ci-tests') }}) || (${{ github.event_name == 'push' }})
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v5
#       # Remove repo toolchain pin so we can specify toolchain manually
#       - name: Remove toolchain pin
#         run: rm -f rust-toolchain.toml rustup-toolchain.toml
#       - name: Install nightly toolchain with Miri
#         uses: dtolnay/rust-toolchain@nightly
#         with:
#           components: miri
#       - name: Install cargo-nextest
#         uses: taiki-e/install-action@v2
#         with:
#           tool: cargo-nextest

#       - name: Build caching
#         uses: Swatinem/rust-cache@v2

#       - run: just miri
